<!-- footer begin -->
<div class="footer">
  <a href="http://sports.sina.com.cn/guest.html" class="blue" target="_blank">竞技风暴意见反馈留言板</a> <a href="mailto:sports2009@vip.sina.com" target="_blank">投稿信箱</a> 客服热线：4006900000 欢迎批评指正<br />
  <a href="http://corp.sina.com.cn/chn/" class="blue">新浪简介</a> | <a href="http://corp.sina.com.cn/eng/" class="blue">About Sina</a> | <a href="http://emarketing.sina.com.cn/" class="blue">广告服务</a> | <a href="http://www.sina.com.cn/contactus.html" class="blue">联系我们</a> | <a href="http://corp.sina.com.cn/chn/sina_job.html" class="blue">招聘信息</a> | <a href="http://www.sina.com.cn/intro/lawfirm.shtml" class="blue">网站律师</a> | <a href="http://english.sina.com" class="blue">SINA English</a> | <a href="https://login.sina.com.cn/signup/signup.php" class="blue">通行证注册</a> | <a href="http://tech.sina.com.cn/focus/sinahelp.shtml" class="blue">产品答疑</a><br />
  Copyright &copy; 1996-2014 SINA Corporation, All Rights Reserved<br />
  新浪公司 <a href="http://www.sina.com.cn/intro/copyright.shtml">版权所有</a>
</div>
<!-- footer end -->